project/KeepYourDistanceFlow.json
[{"id":"30138a15.273dd6","type":"tab","label":"Keep Your Distance","disabled":false,"info":""},{"id":"96076c4d.fabbe","type":"tcp in","z":"30138a15.273dd6","name":"","server":"client","host":"localhost","port":"60001","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":130,"y":60,"wires":[["884a4429.da1fd"]]},{"id":"c466973b.d5949","type":"http request","z":"30138a15.273dd6","name":"Web Req","method":"POST","ret":"txt","url":"https://maker.ifttt.com/trigger/{{event}}/with/key/cZ6qWPa5w9jiE0FT_eiaTt2dyKIEemNFfpql0k0C8Py","tls":"","x":960,"y":180,"wires":[["fe224ead.a6934"]]},{"id":"fe224ead.a6934","type":"debug","z":"30138a15.273dd6","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1130,"y":180,"wires":[]},{"id":"e966dead.3085c","type":"function","z":"30138a15.273dd6","name":"Parser","func":"var first_index = msg.payload.indexOf(\"{\");\nvar last_index = msg.payload.lastIndexOf(\"}\");\nif(first_index == -1 || last_index == -1){\n    return ;\n}\n\nvar filtered_payload = msg.payload.slice(first_index, last_index + 1);\n\nvar outputmsg = {\n    event: \"keep_your_distance_alarm\",\n    payload: JSON.parse(filtered_payload)\n};\nreturn outputmsg;","outputs":1,"noerr":0,"x":570,"y":180,"wires":[["d5193728.294928"]]},{"id":"4c715a37.8aec64","type":"tcp in","z":"30138a15.273dd6","name":"","server":"client","host":"localhost","port":"60002","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":130,"y":120,"wires":[["884a4429.da1fd"]]},{"id":"e8119b7a.93891","type":"tcp in","z":"30138a15.273dd6","name":"","server":"client","host":"localhost","port":"60003","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":130,"y":180,"wires":[["884a4429.da1fd"]]},{"id":"ac9b8163.8805b8","type":"tcp in","z":"30138a15.273dd6","name":"","server":"client","host":"localhost","port":"60004","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":130,"y":240,"wires":[["884a4429.da1fd"]]},{"id":"c94c502d.7d0b5","type":"tcp in","z":"30138a15.273dd6","name":"","server":"client","host":"localhost","port":"60005","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":130,"y":300,"wires":[["884a4429.da1fd"]]},{"id":"d5193728.294928","type":"delay","z":"30138a15.273dd6","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":760,"y":180,"wires":[["c466973b.d5949"]]},{"id":"884a4429.da1fd","type":"function","z":"30138a15.273dd6","name":"Filter","func":"if(msg.payload.includes(\"DEBUG\")){\n    return ;\n}\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":180,"wires":[["e966dead.3085c"]]}]
